<section class="include-date-location">
  <section class="date">
    <div class="label_" style="color: #{{ page.color }}">Date</div>
    <div class="value">
        {{ page.date_ | date: '%B %page, %Y' }}
    </div>
  </section>
  <section class="time">
    <div class="label_" style="color: #{{ page.color }}">Time</div>
    <div class="value">
      {{ page.time }}
    </div>
  </section>
  <section class="place">
    <div class="label_" style="color: #{{ page.color }}">Place</div>
    <div class="value">
      {{ page.city }}
    </div>
  </section>
</section>
