<section class="include-date-location">
  <div class="wrapper {{ include.css_classes }}">
    <div class="date-location">
      <div class="date">
        <div class="image-canvas">
          <img class="icon" src="/images/icons/icon-date.png" style="background-color:{{ include.color }}" />
        </div>
        <div class="dl-label" style="color: {{ include.color }}">Date</div>
        <div class="dl-value">
            {{ include.date | date: '%-d %b  %Y' }}
        </div>
      </div>
      <div class="time">
        <div class="image-canvas">
          <img class="icon" src="/images/icons/icon-time.png" style="background-color:{{ include.color }}" />
        </div>
        <div class="dl-label" style="color: {{ include.color }}">Time</div>
        <div class="dl-value">
          {{ include.time }}
        </div>
      </div>
      <div class="location">
        <div class="image-canvas">
          <img class="icon" src="/images/icons/icon-place.png" style="background-color:{{ include.color }}" />
        </div>
        <div class="dl-label" style="color: {{ include.color }}">Where</div>
        <div class="dl-value">
          {{ include.city }}
        </div>
      </div>
    </div>
  </div>
</section>
