<section >
  <div class="wrapper">
    <div class="event-main">
      <div class="image-canvas">
        <img class="the-image" src="{{ include.background-image }}" alt="">

        {% if include.dot-text %}
        <div class="dot {{ include.dot-txt-size }}">{{ include.dot-text }}</div>
        {% endif %}


        <div class="ribbons">
          {% if include.brand-lead %}
          <div class="brand-lead">
            {{ include.brand-lead }}
          </div>
          {% endif %}

          {% if include.brand-txt %}
          <div class="brand-tag" style="background-color: {{ include.color }}">
            <h1>{{ include.brand-txt | markdownify | strip | remove: '<p>' | remove: '</p>' }}<img   class="on-btn" src="/images/icons/on-symbol-cropped.png"></h1>
          </div>
          {% endif %}
        </div>
      </div>

      {% if include.subtitle %}
      <div class="caption">{{ include.subtitle | markdownify }}</div>
      {% endif %}
    </div>
  </div>
</section>
