// fonts
@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:700);

@import
url(//fonts.googleapis.com/css?family=Oswald:300,400,700|Noto+Serif:400,700,400italic,700italic);


$font-family-base: "Noto Serif", serif, Helvetica, sans-serif;
$font-family-header: "Abolition-Regular";
$font-family-monospace: "Inconsolata", monospace;
$font-size-header: 20px;
$font-size-base: 20px;

$font-letter-spacing: 0.05em;
$transition-time: 0.2s;

// colors

$color-orange: #FF9900;
$color-black: #000;
$color-white: #fff;
$color-gray: #e5e4e2;
$color-gray-text: #959492;



$grid-columns: 60;
$thumbnail-border: transparent;
$thumbnail-padding: 0;

$link-color:            $color-orange;
$link-hover-color:      darken($link-color, 15%);

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
