.include-date-location{
  @extend .row;
  &>div{
    @extend .wrapper;
  }
  .date-location{
    font-family: $headings-font-family;
    font-size:   1.7em;
    padding-left: 45px;
    line-height: 1.2em;
    @media(max-width: $screen-xs-max){
      margin-top: 7vw;
      padding: 0 10px 0 10px;
    }

    .image-canvas{
      z-index: 1;
      display: block;
      position: relative;
      float: left;
      width: 78px;
      text-align: right;
      margin-right: 10px;
    }

    .date, .location, .time{
      @media(max-width: $screen-sm-max){
        margin-bottom: 40px;
        /*@extend .clearfix;*/
      }
    }

    .date, .location{
      @extend .col-md-4;
    }

    .time{
      @extend .col-md-3;
    }

    /*.label, .value{*/
      /*margin-right: -15px;*/
    /*}*/

    .value{
      font-size: 1.37em;
    }
  }
}
