$date-loaction-font-size: 1.7em;
.date-loaction{
  font-family: $headings-font-family;
  font-size:   $date-loaction-font-size;
  padding-left: 45px;
  line-height: 1.2em;

  & .image-canvas{
    z-index: 1;
    display: block;
    position: relative;
    float: left;
    width: 78px;
  }

  .date, .location{
    @extend .col-md-4;
  }

  .time{
    @extend .col-md-3;
  }

  .dl-label, .dl-value{
    margin-right: -15px;
  }

  .dl-value{
    font-size: $date-loaction-font-size*1.1;
  }
}
