.include-event-main{
  &>div{
    @extend .wrapper;
  }
  & .image-canvas{
    z-index: 1;
    display: block;
    position: relative;
    width: 100%;
    &:after{
      @include rip( after, white);
      position: absolute;
      bottom: 0px;
      @media(max-width: $screen-xs-max){
        display: none;
      }
    }
    & .the-image{
      width: 100%;
    }

    & .dot{
      background: yellow;
      border-radius: 1000px;
      font-family: Permanent Marker;
      font-size: 4.8em;
      height: 240px;
      position: absolute;
      right: 47px;
      text-align: center;
      top: 30px;
      transform: rotate(-18deg);
      width: 240px;
      line-height: 0.8;
      padding-top: 49px;
      z-index: 2;
      &.small {
        font-size: 3.3em;
      }
      @media(max-width: $screen-xs-max){
        width: 20vw;
        height: 20vw;
        /*font-size: 3.2vw;*/
        padding-top: 5vw;
        top: 2vw;
        right: 5vw;
        &.small {
          font-size: 4.2vw;
        }
      }
    }

    & .ribbons{
      position: absolute;
      bottom: 0;

      & .brand-tag{
        display: block;
        position: relative;
        z-index: 3;
        h1{
          font-size: 9.2em;
          padding-right: 40px;
          color: white;
          @media(max-width: $screen-xs-max){
            font-size: 15vw;
            padding-right: 10px;
            margin-left: 10px;
            /*TODO refactor left margins across all wrappers etc.*/
          }
          em{
            color: $orange;
            font-style: normal;
          }
        }
        & .on-btn{
          vertical-align: baseline;
          @media(max-width: $screen-xs-max){
            width: 3vw;
          }
        }
      }

      & .brand-lead{
        background: black;
        color: white;
        display: inline-block;
        font-family: $headings-font-family;
        font-size: 2.7em;
        margin: 0;
        padding: 0 40px 0 45px;
        z-index: 4;
        position: relative;
        @media(max-width: $screen-xs-max){
          font-size: 8vw;
          padding: 0 10px 0 10px;
        }
      }
    }
  }


  & .caption{
    position: relative;
    font-family: $headings-font-family;
    font-size: 2.45em;
    margin: 0;
    padding: 0 30px 0 45px;
    z-index: 1;
    em{
      color: $orange;
      font-style: normal;
    }
    @media(max-width: $screen-xs-max){
      font-size: 6vw;
      padding: 0 10px 0 10px;
    }
  }
}
