.include-event-header{
  margin-bottom: 90px;
  &>div{
    position: relative;
  }
  img.bg{
    width: 100%;
  }
  .rip{
    position: absolute;
  }
  .rip-t{
    top: 0;
    display: none;
  }
  .rip-b{
    bottom: 0;
  }
  .ribbons{
    position: absolute;
    bottom: 0;
    .ribbon-small{
      background: black;
      color: white;
      display: inline-block;
      font-family: $headings-font-family;
      font-size: 2.7em;
      margin: 0;
      padding: 0 40px 0 30px;
    }
    .ribbon-main{
      h1{
        color: white;
        font-size: 9.7em;
        margin: 0;
        padding: 0 40px 0 45px;
        em{
          color: $orange;
          font-style: normal;
        }
      }
    }
  }
  .price{
    background: yellow;
    border-radius: 1000px;
    font-family: Permanent Marker;
    font-size: 4.8em;
    height: 240px;
    position: absolute;
    right: 47px;
    text-align: center;
    top: 30px;
    transform: rotate(-18deg);
    width: 240px;
    line-height: 0.8;
    padding-top: 49px;
  }
  .subtitle{
    position: absolute;
    bottom: -90px;
    font-family: $headings-font-family;
    font-size: 3em;
    margin: 0;
    padding: 0 40px 0 30px;
    em{
      color: $orange;
      font-style: normal;
    }
  }
}
