footer.site-footer{
  @extend .row;
  margin-top: 50px;
  color: white;
  font-family: $headings-font-family;
  letter-spacing: 0.05em;
  font-size: 1.5em;
  text-align: center;
  &>div{
    @extend .col-md-12;
    @extend .wrapper;
    @extend .black;
    @extend .toprip;
  }
  .footer-content{ // shifts footer's content up
    margin: -70px 20px 0;
    padding-bottom: 20px;
    vertical-align: baseline;
    position: relative;
    z-index: 1;
  }
  img.logo{
    width: 100px;
    margin: 0 10px -10px;
    vertical-align: baseline;
  }
  @media(max-width: $screen-xs-max){
    font-size: 1em;
    &>div{
    }
    .footer-content{
      margin-top: 0;
      &>span{
        display: block;
      }
    }
    img.logo{
      width: 20px;
      margin: 0 5px 0;
    }
  }
}
