.include-speakers, .speakers{
  h2{
    color: white;
    font-size: 5.5em;
    margin-top: 12px;
    margin-left: 55px;
  }
  .speaker{
    @extend .row;
    margin-bottom: 20px;
  }
  .image{
    @extend .col-md-4;
    text-align: center;
    img{
      width: 80%;
      border-radius: 1000px;
    }
  }
  .details{
    @extend .col-md-7;
    background: white;
  }
  .speaker:nth-child(2n+1){
    .image{
      @extend .col-md-push-7;
      @extend .col-md-offset-1;
    }
    .details{
      @extend .col-md-pull-4;
    }
  }
  .name, .position{
    font-family: $headings-font-family;
    display: inline-block;
  }
  .name{
    font-size: 3.6em;
    margin-top: -7px;
  }
  .position{
    font-size: 1.8em;
    margin-left: 30px;
  }

  .speaker-ruler{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
  }
}
