.include-speakers{
  h2{
    color: white;
  }
  .speaker{
    @extend .row;
  }
  .image{
    @extend .col-md-4;
    img{
      width: 100%;
      border-radius: 1000px;
    }
  }
  .details{
    @extend .col-md-7;
    background: white;
  }
  .speaker:nth-child(2n+1){
    .image{
      @extend .col-md-push-7;
    }
    .details{
      @extend .col-md-pull-4;
    }
  }
  .name, .position{
    font-family: $headings-font-family;
    display: inline-block;
  }
  .name{
    font-size: 2em;
  }
  .position{
    font-size: 1.5em;
  }
}
