.include-sponsors{
  @extend .image-grid;
  &>div{
    @extend .wrapper;
  }
  h1,h2{
    color: black;
  }
  h1{
    font-size: 5.5em;
  }
  h2{
    font-family: $font-family-base;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 45px;
    margin-top: 7px;
  }
  .sponsors{
    @extend .image-grid-wrapper;
  }
  .sponsor{
    @extend .image-grid-cell;
  }
}
