---
permalink: /
layout: default
css_class: index
title: Continuous Delivery events
---

{% include event-main.html
background-image="/images/doc-cph-2016.png"
brand-lead="Welcome to the home of..."
brand-txt="*Co*ntinuous *de*livery"
subtitle="CONFERENCES * EVENTS * TRAINING *& MORE*"
color='#3c890f' %}

<div class="conferences">
  {% for e in site.events %}
    <div class="conference">
      <a href="{{ e.url }}">
        <span class="brand-tag" style="background: {{ e.color }}">
            {{ e.brand-txt | markdownify }}
        </span>
      </a>
      {% include date-location.html
      color=e.color
      date=e.date_
      time=e.time
      city=e.city %}
    </div>
  {% endfor %}
</div>
