.eventbrite-ticket-widget{
  width: 900px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
  z-index: 1;
}

.eventbrite-ticket-wrapper{
  width:      990px;
  background-color: black;
  padding-bottom: 0px;
  padding-top: 0px;
  h1, h2, h3, h4{
    margin: 0;
    color: white;
  }
  &:before{
    content: url(/images/b-rip-top.png);
    width: 990px;
    background-color: #FFFFFF;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    display: block;
    background-repeat: no-repeat;
    position: relative;
  }

  &:after{
    content: url("/images/b-rip-bot.png");
    width: 990px;
    background-color: #FFFFFF;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    height: 89px;
    display: block;
    background-repeat: no-repeat;
    position: relative;
  }

}
