.eventbrite-ticket-widget{
  width: $container-large-desktop * 0.9;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
  z-index: 1;
}

.eventbrite-ticket-wrapper{
  padding-bottom: 0px;
  padding-top: 0px;
  background-color: black;
  background-clip: content-box;
  h1, h2, h3, h4{
    margin: 0;
    color: white;
  }
  h1 {
    font-size: $font-size-base * 4;
  }
  &:before{
    content: '';
    background-image: url(/images/rip-t.png) ;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    display: block;
    position: relative;
    background-size: cover;

  }

  &:after{
    content: '';
    background-image: url("/images/rip-b.png");
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    height: 89px;
    display: block;
    position: relative;
    background-size: cover;
  }


}
