header{
  &>div{
    @extend .col-md-12;
    background: black;
    height: 70px;
  }
  a.logo{
    margin-left: 25px;
    @media(max-width: $screen-xs-max){
      margin-left: 0;
    }
  }
  nav{
    float: right;
    @media(max-width: $screen-xs-max){
      margin-top: 15px;
    }
    a{
      margin-right: 20px;
      font-family: $headings-font-family;
      color: white;
      font-size: 1.5em;
      margin-right: 47px;
      padding-top: 28px;
      display: inline-block;
      &:last-child{
        margin-right: 40px;
      }
      &:hover{
        opacity: 1;
        color: white;
      }
      @media(max-width: $screen-xs-max){
        font-family: $font-family-base;
        font-size: 15px;
        margin-right: 0;
        padding-right: 0;
        display: block;
        padding-top: 0;
        &:last-child{
          margin-right: 0px;
        }
      }
    }
  }
}
