.wrapper{
  padding-bottom: 0px;
  padding-top: 0px;
  background-clip: content-box;

  h1, h2, h3, h4{
    margin-top: 0;
    margin-bottom: 0;
    /*color: white;*/
  }
  h1 {
    font-size: 5.5em;
    margin-left: 45px;
  }

  &.colored{
    h1, h2, h3, h4{
      color: white;
    }
    &.toprip{
      &:before{
        @include rip( before, white);
      }
    }
    &.botrip{
      &:after{
        @include rip( after, white);
      }
    }
  }

  &.black{
    $bg-color : #000000;
    background-color: $bg-color;
    h1, h2, h3, h4{
      color: white;
    }
    &.toprip{
      &:before{
        @include rip( before, black, white);
      }
    }
    &.botrip{
      &:after{
        @include rip( after, black, white);
      }
    }

  }
  &.white{
    background-color: #FFFFFF;
  }

}
