.wrapper{
  padding-bottom: 0px;
  padding-top: 0px;
  background-clip: content-box;

  h1, h2, h3, h4{
    margin: 0;
    color: white;
  }
  h1 {
    font-size: 5.5em;
    margin-left: 45px;
  }

  &.colored{
    &.toprip{
      &:before{
        @include rip( after, #ffffff, transparent, 80px);
      }
    }
    &.botrip{
      &:after{
        @include rip( before, #ffffff, transparent, 89px);
      }
    }
  }

  &.black{
    $bg-color : #000000;
    background-color: $bg-color;
    &.toprip{
      &:before{
        @include rip( before, $bg-color, #ffffff, 64px);
      }
    }
    &.botrip{
      &:after{
        @include rip( after, $bg-color, #ffffff, 89px);
      }
    }

  }
  &.white{
    background-color: #FFFFFF;
  }

}
