---
layout: default
---

<!--if the page is index, we'll show it-->

{% assign fname = page.path | split: "/" | last | split: "." | first %}
{% if fname == "index" %}
  {{ page.title }}
  <!--partials output-->
  {% assign current_folder = page.path | split: "/" | pop | last %}
  <!--{{ current_folder | jsonify }}-->
  {% assign events_sorted = site.events | sort: "weight" %}
  {% for partial in events_sorted %}
    <!--we need only those, who lives in the same folder-->
    {% assign current_partial_folder = partial.path | | split: "/" | pop | last %}
    {% if current_folder == current_partial_folder %}
      {{ partial.content }}
    {% endif %}
  {% endfor %}
{% endif %}
