html:after{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10000px;
//  background: url(/images/codeconf_jc_nw3.png) 50% 0 no-repeat;
  pointer-events: none;
  opacity: 0.2;
}
