// black and white rips
// $placement: before | after
// $rip-color: black | white
// background: color name or hex code
@mixin rip( $placement: after, $rip-color: black, $background: transparent, $height: 89px){
  background-color: $background;
  background-image: url(/images/layout/rip-#{$placement}-#{$rip-color}.png);
  background-repeat: repeat-x;
  background-size: cover;
  content: '';
  display: block;
  height: $height;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}
